h1{
    background-color: black;
    color:whitesmoke;
    padding: 10px;
}
span{
    color:aquamarine;
}



h2{
    color: whitesmoke;
    background-color:blueviolet;
    text-align: center;
    padding: 10px;
}

h3{
    background-color: cornflowerblue;
    text-align: right;
    text-decoration: underline;
    padding: 10px;
}