.container{
    margin: 0px;
}

#profile{
    background-color: aquamarine;
    width: 1500px; 
    height: 200px; 
}
#profile > img{
    height: 200px; 
    width: 200px; 
}
.absolute{
    position: absolute;
    top: 100px; 
}
.main{
    width: 1500px; 
    height: 850px; 
}
.main > h1{
    padding-top: 10%;
}
.main >h1,img,p {
   margin: 10px;
}
.city{
    display: flex;
}
.city > img{
    width: 25px; 
}
.color{
    color: blue;
    text-decoration: underline;
}

